body {
    background-color: #290229; 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 14px; 
}

a {
    color: #FBFF00; 
    text-decoration: none; 
    border-bottom: 1px dashed #FBFF00; 
}

a:hover {
    color: #ffffff; 
    border-bottom: 1px solid #ffffff; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- Header and Navigation --- */
#navbar {
    display: flex;
    justify-content: center; 

}

#site-container {
    width: 90%;
    max-width: 750px; 
    margin: 0 auto 20px auto;
    border: 3px solid #09000a;
    padding: 10px 5px; 
    background-image: url('https://pawlixy.lol/images/purpboard2.png'); 
    background-repeat: repeat;
}

#header-container {
    width: 90%;
    max-width: 750px; 
    margin: 20px auto 0 auto;
    border: 3px solid #09000a;
    padding: 10px 5px; 
    background-color: #000000;
    background-repeat: repeat;
}

.nav-button {
    background-color: #580080;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    margin: 0 5px;
    text-decoration: none;
    border-bottom: none; 
}

.nav-button:hover {
    background-color: #7C00B5; 
    color: #09000a; 
    text-shadow: none;
    box-shadow: 0 0 8px #7C00B5;
}

#main-content {
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;

    height: 400px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    padding-right: 10px;

}

.news-post {
    border: 3px solid #09000a;
    background-color: #580080; 
    margin-bottom: 25px;
}

.normal-post {
    padding: 10px;
    border: 3px solid #09000a;
    background-color: #580080; 
    margin-bottom: 25px;
}

.post-title {
    background-color: #580080; 
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
}

.post-body {
    padding: 10px;
    display: flow-root; 
}

.post-body p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 100px; 
}

.avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 2px solid #09000a;
}

.post-info {
    text-align: right;
    font-size: 12px;
    color: #cccccc;
    padding-top: 10px;
}

.author {
    color: #00ff00;
    font-weight: bold;
}

.video-preview {
    background-color: #000000;
    border: 2px solid #ffffff;
    width: 350px;
    margin: 10px 0 10px 100px; 
}

.video-preview img {
    width: 100%;
    height: auto;
    display: block;
}

.flash-link {
    font-weight: bold;
}

#footer {
    width: 90%;
    max-width: 700px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.footer-info {
    font-size: 10px;
    padding: 5px 0;
    color: #cccccc;
}
