root {
  background-image: url("./images/purpboard2.png");
  background-color: black;
}

img {

 margin: auto

}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


nav ul {
  list-style-type:none;
  padding-left:0;
  display:flex;
  flex-wrap:wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  padding-right:10px;
}

body {

  padding:30px;
  background-image: url("./images/purpboard2.png");
  background-color: black;

}

p {

 color: white;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center

}

a {

 color: #fbff00;
 text-shadow: 1px 1px #8a8c00;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center

}

.rainbow {
    background: linear-gradient(to right, #ff0400, rgb(255, 0, 191), #5d00ff, #008cff, #00e1ff, #00ff0d, #eaff00, #ff9d00, #ff3c00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

 h2 {
  color: #850050;
  text-shadow: 1px 1px #570235;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center
}

h1 {
 font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center
}

.content {
    float: c;
    background-color: #1f0615;
    padding: 10px;
    border-radius: 0px;
}

    .image-container {
      float: left;
      margin-right: 20px;
    }

.marquee {
    background-color: #2b081d;
    padding: 10px;
    text-align: center
}

.navbar {
    background-color: #2e091f;
    padding: 10px;
}

.navbar {
    background-color: #2e091f;
    padding: 10px;
}
